input {
  border-radius: 30px;
  outline: none;
  border: 2px solid #44bdd0;
  width: 250px;
  height: 38px;
  padding: 12px;
  background-color: #f6f6f6;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #001745;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #001745;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #001745;
}
